:root {
    --color-white: #eeeeee;
    --color-blue-green: #00adb5;
    --color-secondary-black: #393e46;
    --color-main-black: #222831;
}

body {
    margin: 0;
    padding: 0;
}

input,
textarea {
    outline: none;
}

.pointer {
    cursor: pointer;
}

a{
    text-decoration: none;
}